*
{
	padding: 0;
	margin: 0;
}
.header
{
	border-top: 1px solid;
	border-top-color: Snow;
	border-bottom: 1px solid;
	border-bottom-color: #CFCFCF;
	width: 100%;
	height: 81px;
	position: fixed;
	background: White;
}
.header-container
{
	display: flex;
	justify-content: space-between;
	padding:  2px 30px;
	align-items: center;
}
.logo-link
{
	text-decoration: none;
	align-items: center;
	display: flex;
}
.logo-text
{
	font-size: 25px;
	color: #B5B5B5; 
	padding-left: 20px;
}
.header-menu
{
	display: flex;
	align-items: center
}
.input-link
{
	padding-right: 20px;
}
.input-button
{
	width: 110%;
	border: none;
	border-radius: 10px;
	border-color: #FFD700;
	background:	#FFD700;
	padding: 2px 0;
	cursor: pointer;
}
.input-button:active
{
	box-shadow: 0 0 0 4px rgba(255, 215, 0, 0.5);
}
.button-text
{
	color: White;
	font-size: 30px;
}
.menu-list
{
	list-style: none;
	display: flex;
}
.menu-link
{
	text-decoration: none;
	color: #B5B5B5;
	padding: 0 10px;
	font-size: 28px;
}
.menu-text:hover
{
	color: #FFD700;
}
.main-container
{
	padding-top: 60px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 10px;
}
.banner-section
{
	padding: 75px 0;
	text-align: center;
	color: #FFD700;
}
.banner-title
{
	padding-bottom: 10px;
	font-size: 43px;
}
.banner-text
{
	font-size: 23px;
}
.cards-row
{
	display: flex;
	justify-content: center;
	list-style: none;
}
.card
{
	margin: 20px 30px;
	border-radius: 20px;
	transition-property: box-shadow, margin-top 50ms;
	transition-duration: 250ms;
	transition-timing-function: linear;
}
.card:hover
{
	box-shadow: 0 0 7px 2px Gainsboro;
	margin-top: 16;
}
.card-link
{
	text-decoration: none;
}
.card-text
{
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	margin: 20px 10px;
}
.card-img
{
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.card-info
{
	display: flex;
}
.info-element
{
	text-decoration: none;
	color: #696969;
	font-family: Arial, Helvetica, sans-serif;
	background: whitesmoke;
	border-radius: 20px;
	margin: 5px 15px 10px 10px;
	padding: 5px 10px;
}
.footer
{
	border-top: 1px solid;
	border-top-color: Gainsboro;
}
.footer-container
{
	padding: 20px;
	text-align: center;
	color: #FFD700;
}
.navigation
{
	color: Gainsboro;
}
.navigation-text:hover
{
	color: #FFB90F;
	cursor: pointer;
}
.footer-text
{
	margin-top: 10px;
}
.web-list
{
	list-style: none;
	display: flex;
	justify-content: center;
}
.web-item
{
	padding: 25px;
}
::selection 
{
	background: #FFD700;
	color: White;
}
::-webkit-scrollbar
{
	height: 0;
	width: 0;
}
label
{
	width: 50px;
	height: 22px;
	display: block;
	position: relative;
	margin-top: 3px;
}
.input + span
{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url("img/dark-light.png") no-repeat;;
	cursor: pointer;
}
.input
{
	opacity: 0;
}
.input:checked + span
{
	background-position: 0 -22px; 
}
.menu-checkbox
{
	margin-left: 10px;
}